// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	padding: 10px;
	text-decoration: none;
	background-color: black;
	color: white;
	margin-top: 20px;
}

.border {
	border: solid black 2px;
	padding: 20px;
	margin: 10px;
	margin-top: 20px;
}